Source: sp-measure
Priority: extra
Maintainer: Eero Tamminen <eero.tamminen@nokia.com>
Build-Depends: debhelper (>= 5), automake, doxygen, libtool
Standards-Version: 3.9.1
Section: libs

Package: libsp-measure-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libsp-measure1 (= ${binary:Version})
Description: The development files for libsp-measure library
 Contains development headers and man pages for libsp-measure library.

Package: libsp-measure1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: System/process resource usage snapshot library.
 Contains API for taking system/process resource usage snaphots and calculating
 difference between two snapshots of the same type.

Package: libsp-measure1-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libsp-measure1 (= ${binary:Version})
Description: Debug symbols for libsp-measure1
 Contains debug symbols for libsp-measure1 library used with tools such as GDB.
